.col-1 {
    margin-right: 50%;
}
.btnLogin {
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
}
.btnRegister {
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
}